version: '3'
services:
    charlie:
      container_name: charlie_1
      build: .
      image: qureshi/ml:1.3
      user: $user_id:$group_id
      working_dir: /home/dockeruser
      stdin_open: true
      volumes:
        - /home/faisal/code:/home/dockeruser/code:rw
      tty: true
      ports: 
        - "11945:8888"
      group_add:
        - "1010"
      environment:
        - HOME="/home/dockeruser"
      deploy:
        resources:
          reservations:
            devices:
              - capabilities: [gpu]
